body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(26, 50, 69);
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 30px;
}

button{
    padding: 15px;
}